---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
<div> Portfolio comming soon. </div>
<div class="wordwrap">Find my publications here: <a href="https://sajeebray.github.io/publications/">Sajeeb's Publications</a>.</div>
{% include base_path %}
<H3> Competitive Programming Records</H3>
I was started competitive programming in May 2020 and solved over 750 problems on various online judges. Unfortunately, I had to leave competitive programming in March 2023 because most of the NCPC and ICPC contests were scheduled during my exams. This was a particularly disappointing time for me, as I wanted to participate but couldn't perform due to my academic commitments. Here are my achievements:
  - Champion, ICE Fiesta Programming Contest 2023
  - Bangladesh 3rd Rank (Global 350th), Codeforces Round 857 (Div. 2)
  - Bangladesh 5th Rank (Global 123rd), CodeChef Starters 79 (Div. 2)
  - Bangladesh 4th Rank (Global 171st), CodeChef Starters 49 (Div. 4)
Here is some of my profiles:

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

