---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
<div class="wordwrap">Find my publications here: <a href="https://sajeebray.github.io/publications/">Sajeeb's Publications</a>.</div>
<div class="wordwrap">Find my talks here: <a href="https://sajeebray.github.io/talks/">Sajeeb's Talks</a>.</div>
<div class="wordwrap">Download CV: <a href="https://sajeebray.github.io/files/CV-SK-Ray-17-12-2024.pdf">Sajeeb's CV</a>.</div>
{% include base_path %}
<H3> Competitive Programming Records</H3>
I was started competitive programming in May 2020 and solved over 750 problems on various online judges. Unfortunately, I had to leave competitive programming in March 2023 because most of the NCPC and ICPC contests were scheduled during my exams. This was a particularly disappointing time for me, as I wanted to participate but couldn't perform due to my academic commitments. Here are my achievements: <br>
  <ul> 
  <li> 1st Runner Up, ICE Fiesta Programming Contest 2024 </li>
  <li> Champion, ICE Fiesta Programming Contest 2023 </li>
  <li> Bangladesh 3rd Rank (Global 350th), Codeforces Round 857 (Div. 2) </li>
  <li> Bangladesh 5th Rank (Global 123rd), CodeChef Starters 79 (Div. 2) </li>
  <li> Bangladesh 4th Rank (Global 171st), CodeChef Starters 49 (Div. 4) </li>
  </ul> 


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

