---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
<div class="wordwrap">Find my publications here: <a href="https://sajeebray.github.io/publications/">Sajeeb's Publications</a>.</div>
<div class="wordwrap">Find my talks here: <a href="https://sajeebray.github.io/talks/">Sajeeb's Talks</a>.</div>
<div class="wordwrap">Download CV: <a href="https://sajeebray.github.io/files/CV-SK-Ray-17-12-2024.pdf">Sajeeb's CV</a>.</div>
{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

