---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---
Sajeeb Kumar Ray is a top-performing engineering student, researcher, and leader at PUST, excelling in academics, research, competitive programming, and community initiatives, with expertise in cutting-edge technologies and a strong track record of innovation and leadership.
<div class="wordwrap">Find publications here: <a href="https://sajeebray.github.io/publications/">Sajeeb's Publications</a>.</div>
<div class="wordwrap">Find talks here: <a href="https://sajeebray.github.io/talks/">Sajeeb's Talks</a>.</div>
<div class="wordwrap">Download CV: <a href="https://sajeebray.github.io/files/CV-SK-Ray-17-12-2024.pdf">Sajeeb's CV</a>.</div>
{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

