---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<span>All publications are Scopus-Indexed</span>
  <H3>Avaiable Online: 9 </H3>
  <H3>Recently Accepted (Not published yet): 4 </H3>
  <span>Under Review: 2 </span>
  <span>Active Research: 2 </span>
  <div class="wordwrap">Find my articles on: <a href="{{site.author.googlescholar}}">Google Scholar</a>
  <a href="{{site.author.researchgate}}">ResearchGate</a>
  <a href="https://www.scopus.com/authid/detail.uri?authorId=59135757800">Scopus</a>
  <a href="https://www.webofscience.com/wos/author/record/OFM-5524-2025">Web of Science</a>
  <a href="https://ieeexplore.ieee.org/author/310798864651620">IEEE Xplore</a>.
  </div>

{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



